beautifulsoup4
bs4
faiss-cpu
fastapi
h5py
html2text
huggingface
huggingface-hub
imbalanced-learn
joblib
langchain
langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters
langgraph
lxml
matplotlib
mglearn
nlp_rake
nltk
numpy
openai
pandas
Pillow
pydantic
python-dotenv
ragas
rank_bm25
rapidfuzz
requests
scikit-learn
scipy
seaborn
stemming
tensorflow
tensorflow_decision_forests
tqdm
uvicorn
wikipedia
wikipedia-api
ydf
